[submodule "themes/blist"]
	path = themes/blist
	url = https://github.com/apvarun/blist-hugo-theme.git
[submodule "themes/hugo-scroll"]
	path = themes/hugo-scroll
	url = https://github.com/janraasch/hugo-scroll.git
